<div id="container">
    <div id="content">
        <h1> Enter your name </h1>

        <form (submit)="Login($event)" action="" class="" ngNoForm>
            <input type="text" id="name" placeholder="Jolon" [(ngModel)]="username">
            <br>
            <input type="emaul" id="name" placeholder="someone@example.com" [(ngModel)]="email">
            <!-- <button id="enter" ng-click="Login()"> Enter Chat </button> -->
            <input type="submit" value="Enter Chat">
        </form>
    </div>
        
</div>

