
<h1> Admin Page: {{username}} </h1>

<div id="users">
    <h3> Users </h3>


    <div id="table">
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Group IDs</th>
            <tr>

            <tr *ngFor="let user of users">
                <td> {{ user.user_id }} </td>
                <td> {{ user.username }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.group_ids }} </td>
            </tr>
        </table>
    </div>

    <br><br><br>
    <h4> Create users </h4>
    <div id="form">
        <form (submit)="create_user($event)" ngNoForm>
            <input [(ngModel)]="username" type="text" placeholder='username'>
            <br>
            <input [(ngModel)]="email" type="email" placeholder='someone@example.com'>
            <br>

            <div *ngIf="viewer_is_super_admin">>
                <input [(ngModel)]="super_admin" type="checkbox">
                <br>
            </div>
            <button type="submit">Create</button>
        </form>
    </div>

    <h4> Delete users </h4>
    <div id="form">
        <form (submit)="delete_user($event)" ngNoForm>
            <select>
                <option *ngFor="let user of users" [value]="user.user_id">
                    {{ user.username }}
                </option>
            </select>
            <button type="submit">Delete</button>
        </form> 
    </div>
</div>

<h3> Groups </h3>

    <h4> Create group </h4>
    <form (submit)="create_group($event)" ngNoForm>
        <input [(ngModel)]="group_name" type="text" placeholder='group name'>
        <br>
        <button type="submit">Create</button>
    </form>

    <h4> Delete group</h4>
    <form (submit)="delete_group($event)" ngNoForm>
        <input [(ngModel)]="group_id" type="number">
        <br>
        <button type="submit">Delete</button>
    </form>

    <h4> Make group admin </h4>
    <form (submit)="make_group_admin($event)" ngNoForm>
        <input [(ngModel)]="group_id" type="number">
        <br>
        <input [(ngModel)]="username" type="text" placeholder='username'>
        <br>
        <button type="submit">Create Admin</button>
    </form>

<h3> Channels </h3>

    <h4> Create Channel </h4>
    <form (submit)="create_channel($event)" ngNoForm>
        <input [(ngModel)]="channel_name" type="text" placeholder='channel name'>
        <br>
        <button type="submit">Create</button>
    </form>

    <h4> Delete group</h4>
    <form (submit)="delete_channel($event)" ngNoForm>
        <input [(ngModel)]="channel_id" type="number">
        <br>
        <button type="submit">Delete</button>
    </form>

    <h4> Invite user </h4>
    <form (submit="channel_invite_user($event)" ngNoForm>
        <input [(ngModel)]="channel_id" type="number">
        <br>
        <input [(ngModel)]="username" type="text" placeholder='username'>
        <br>
        <button type="submit">Invite user</button>
    </form>