.centre {
    margin: auto;
    width: 50%;
}

#menu {
    background-color: #d6d6d6
}

#users {
    padding: 20px;
    margin: auto;
    width: 50%;
    border-bottom: 1px solid white;
}
    
#groups {
    padding: 20px;
    margin: auto;
    width: 50%;
    border-bottom: 1px solid white;
}

#channels {
    padding: 20px;
    margin: auto;
    width: 50%;
    border-bottom: 1px solid white;
}

#table {
    border: 1px solid black;
}

/* th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5} */

/* tr:nth-child(even) {
    background-color: white;
} */