
<!-- chat box -->
<div id="container">
    <div id="chat">
        <div *ngFor="let message of messages" class="message">
            <p> {{ message.text.split('\n')[0] }} </p>
            <p> {{ message.text.split('\n')[1] }} </p>
        </div>
    </div>

    <div id="input">
        <input [(ngModel)]="message" type="text" id="message_input" placeholder="message" class="form-control">
        <button (click)="sendMessage(message)" id="send"> Send </button>
    </div>
</div>

<!-- groups -->
 <div>
     <h1> Groups </h1>
    <div id="table">
        <table>
            <tr *ngFor="let group of groups">
                <!-- <td> {{ group.group_id }} </td>
                <td> {{ group.name }} </td> -->
                <td> {{ group }} </td>
            </tr>
        </table>
    </div>
 </div>


 <br><br><br>
 <div>
     <h1> Channels </h1>
    <div id="table">
        <table>
            <tr *ngFor="let channel of channels">
                <!-- <td> {{ channel.channel_id }} </td>
                <td> {{ channel.name }} </td> -->
                <td> {{ channel }} </td>
            </tr>
        </table>
    </div>
 </div>